.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formError {
  font-size: var(--text-small);
  font-weight: 500;
  line-height: 18px;
  color: var(--red-text);
}
